<h1><%= @the_product.title %></h1>

<p>Posted by: <%= @posting_user.name %></p>

<p><%= @the_product.description %></p>

Auction ends: <%= @the_product.deadline.strftime("%m/%d/%Y") %>
<br>
Bids:
<ul>
    <% @bids.each do |bid| %>
        <li><%=bid.user.name%> bid: $<%=bid.amount%></li>
    <% end %>
</ul>
<br>
<%= link_to('Make a bid!', new_product_bid_path(@the_product), method: :get) %>
<br>
<%= link_to('Delete', user_product_path(@posting_user, @the_product),method: :delete, data: {confirm: "Are you sure?"}) %>