<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

    <h2 class="text-center"><%=@concert.artist%></h2>

    <h3 class="text-center"><%=@concert.venue%></h3>

    <h4 class="text-center"><%=@concert.date.strftime("%b %-d, %Y")%> at
    <%= @concert.date.strftime("%l:%M %p")%></h4>

    <p class="text-center">$<%=@concert.price%></p>

    <p class="text-center"><%= @concert.description %></p>

    </div>
</div>